<web-app>
	<error-page>
		<error-code>404</error-code>
		<location>/error404.html</location>
		
	</error-page>
	<error-page>
		<exception-type>ProductNotSaldableException</exception-type>
		<location>/errorSald.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.sql.SQLException</exception-type>
		<location>/error500.jsp</location>
	</error-page>
</web-app>